nav {
  width: 100%;
  padding: 15px 0;
  position: fixed;     /* Stays at top */
  top: 0;
  left: 0;
  z-index: 1000;
border-bottom: 2px solid #444;
}

.navbar_list {
  list-style: none;
  display: flex;
  justify-content: center;  /* Centers the nav items horizontally */
  align-items: center;       /* Aligns vertically */
  gap: 40px;                 /* Space between items */
  margin: 0;
  padding: 0;
}

.navbar_list li a {
  color: rgb(11, 30, 107);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar_list a.active{
  font-weight: 500;
  color: blue;
}


